{% extends 'base.html'%}

{% block content %}
<main role="main" class="inner cover" style='height: 90%; color: white'>
  {{object_list}}
  <div class="row justify-content-center">
    <div class="col-sm-10">
      <table class="table table-dark" id="dtBasicExample">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope='col'>Next scan</th>
            <th scope="col">Created</th>
            <th scope="col">Del</th>
          </tr>
        </thead>
        <tbody>
        {% for domain in context %}
          <tr>
          <th scope="row">{{ domain.id }}</th>
          <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
              <form action="." method="post">
                {% csrf_token %}
                <input type="hidden" name="action" visible='' value="delete">
                <input type="image" src='https://www.materialui.co/materialIcons/action/delete_white_24x24.png' alt="del" ></input>
              </form>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

    </div>
  </div>

</main>


{% endblock %}
