{% extends 'base.html'%}

{% block content %}
<main role="main" class="inner cover" style='height: 90%; color: white'>
  <div class="row justify-content-center">
    <div class="col-sm-10">
      <table class="table table-dark" id="dtBasicExample">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope='col'>Owner</th>
            <th scope="col">Description</th>
            <th scope="col">relation</th>
            <th scope="col">Connect</th>
          </tr>
        </thead>
        <tbody>
        {% for course in object_list %}
          <tr>
            <th scope="row">{{ course.id }}</th>
            <td>
            {{ course.name }}

            </td>
            <td>
              {{ course.owner_name }}
            </td>
            <td>
              {{ course.description }}
            </td>
            <td>
              {{ course.relations }}
            </td>
            <td>
              <form id='add_relation_course' method="POST">
                <input type="hidden" name="course_id" visible='' value="{{ course.id }}">
                <input type="hidden" name="user_id" visible='' value="{{ request.user.id }}">
                <input type="submit" id='add_relation_course_btn' class="btn btn-primary mb-2" value='Connect'>
              </form>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

    </div>
  </div>

</main>


{% endblock %}
