
<html class='gr__getbootstrap_com'>
<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://unpkg.com/ionicons@4.4.6/dist/css/ionicons.min.css" rel="stylesheet">
    <!-- Bootstrap CSS -->


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://unpkg.com/ionicons@4.4.6/dist/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
    <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Test TeachBase</title>

</head>
<body class="text-center" data-gr-c-s-loaded="true" style='background-color: #333'>
  <div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <nav class="nav nav-masthead justify-content-center">
          {% if request.user.is_authenticated %}
            <a class="nav-link" href="/courses">Courses</a>
          {% endif %}
          <span class="nav-link">
              {% if request.user.is_authenticated %}
                  Hello {{ request.user.email }},
                  <a href="/profiles/logout">Logout</a>
              {% else %}
                  <a href="/profiles/signin" class="btn btn-primary" %}">Sign-In</a>
                  <a href="/profiles/signup" class="btn btn-dark" %}">Sign-Up</a>

              {% endif %}
          </span>
        </nav>
      </div>
    </header>

    {% block content %}{% endblock content %}


    {% if messages %}
        {% for message in messages %}
        <script type="text/javascript">
          swal("Action!", "{{ message }}", {% if message.tags %}"{{ message.tags }}"{% endif %});
        </script>
        {% endfor %}
    {% endif %}

    <div class="row justify-content-center">
      <div class="col-sm-4">
        <div class="card text-white bg-dark mb-3">
          <div class="card-header">
              FeedBack Form
          </div>
          <form class="form" id='add_feedback' method="POST" action=''>
            <div class="form-group">
              <label for="id_email">Адрес электронной почты:</label>
              <br>
              <input type="email" name="email" maxlength="254" required="" id="id_email">
            </div>
            <div class="form-group ">
              <label for="id_message">Message:</label>
              <br>
              <textarea name="message" cols="40" rows="10" required="" id="id_message"></textarea>
            </div>
            <input type="submit" id='add_feedback_btn' class="btn btn-primary mb-2" value='Add'>
          </form>
        </div>
      </div>

  </div>

  <script type="text/javascript">


    function getCookie(name) {
        var cookieValue = null;
        var i = 0;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (i; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

   function sendAjaxForm(result_form, ajax_form, url) {
       $.ajax({
           url:     url,
           type:     "POST",
           dataType: "html",
           data: $("#"+ajax_form).serialize(),
           success: function(response) {
            result = $.parseJSON(response);
            swal("Action!", result.message, result.tags);
        },
        error: function(response) {
          console.log(response);
        }
      });
   }

    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        crossDomain: false,
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $(document).ready(function () {

      $("#add_feedback_btn").click(
        function(){
          sendAjaxForm('result', 'add_feedback', '/feedback/');
          return false;
        }
      );

      $("#add_relation_course_btn").click(
        function(){
          sendAjaxForm('result', 'add_relation_course', '/courses/relation');
          return false;
        }
      );

    });


  </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
