{% extends 'base.html'%}

{% block content %}
<main role="main" class="inner cover" style='height: 90%; color: white'>

  <div class="row justify-content-center">
    <div class="col-sm-4">
      <div class="card text-white bg-dark mb-3">
        <div class="card-header">
          <h1 style='color: white'>SignUp</h1>
        </div>
        <form class="form" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" class="btn btn-primary" classvalue="SignIn">
        </form>
      </div>
    </div>
  </div>

</main>


{% endblock %}
